/* UNIVERSAL Selector - Settings */
* , *:before, *:after {
    box-sizing: border-box;
}

/* ROOT Selector - Settings */
:root {
    /* GLOBAL VARIABLES: Colors in HSL notation */
    --color-bg-snow: 0, 0%, 100%; /* White */
    --color-bg-royal: 240, 70%, 50%; /* Royal Blue */
    --color-bg-silver: 0, 0%, 40%; /* Silver Gray */

}

 /* BODY Selector - Settings */
body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;

    margin: 0px; /* Body comes per default with margin - here the modification */
    background-color: hsl(var(--color-bg-snow));
}
